.table-specify-resp-event {
    width: 100%;
    border-collapse: collapse;
  
    th {
      border: 1px solid #ddd;
      padding: 8px;
    }
  
    td {
      border: 1px solid #ddd;
      padding: 8px;
    }
  
    tbody {
      border: 1px solid #ddd;
  
      tr {
        border: 1px solid #ddd;
      }
    }
  }