@tailwind base;
@tailwind components;
@tailwind utilities;


.debug {
  border: 1px solid red;
}

.dark-card {
  @apply bg-event-gray rounded-lg p-4;
}

.cls-1 {
  @apply fill-white;
}

.menu-text {
  @apply text-white tracking-widest hover:text-white hover:font-semibold hover:cursor-pointer;

}

.vertical-separator {
  @apply border border-white h-8 mx-3;
}

.custom-table {
  border-collapse: separate;
  border-spacing: 8px;
  /* Ajusta el valor según la cantidad de espacio que desees entre las columnas */
}

.custom-table th,
.custom-table td {
  padding: 8px;
  /* Ajusta el valor según la cantidad de espacio que desees dentro de las celdas */
  border: 1px solid #ccc;
  /* Opcional: Agrega bordes a las celdas para mayor claridad */
}

.checkbox-container {
  display: flex;
  justify-content: center;
  /* Centra horizontalmente */
  align-items: center;
  /* Centra verticalmente */
  height: 100%;
  /* Asegura que la caja de verificación se expanda para llenar la celda */
}

.first-cell {
  color: #000;
  /* Cambia a blanco (#fff) u otro color que desees */
}

.circular-checkbox {
  width: 20px;
  /* Ancho del checkbox */
  height: 20px;
  /* Alto del checkbox */
  border-radius: 50%;
  /* Hace que el checkbox sea circular */
  appearance: none;
  /* Oculta el estilo predeterminado del checkbox */
  outline: none;
  /* Elimina el contorno al hacer clic */
  cursor: pointer;
  /* Muestra el cursor como un puntero */
  border: 2px solid #0075FF;
  /* Borde del checkbox */
  background-color: transparent;
  /* Fondo transparente */
  margin: 2px;
  /* Agrega un pequeño margen alrededor del checkbox */
  transition: background-color 0.2s ease;
  /* Transición suave de color de fondo */
  box-shadow: inset 0 0 0 2px #fff;
  /* Espacio blanco entre el borde y el interior */
}

.circular-checkbox:checked {
  background-color: #0075FF;
  /* Color de fondo cuando está marcado */
}

.card-options {
  @apply hover:font-semibold hover:cursor-pointer
}

.separator {
  width: 90%;
  height: 1px;
  background-color: gray;
}