.menu-icon {
    display: none;
}

.return-icon {
    display: none;
}

.container {
    width: 310px;
    height: 100vh;

    .aside-top {
        height: 15%;
        background-color: #1F4E99;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 70%;
        }
    }

    .aside-bottom {
        height: 85%;
        background-color: #1B222A;

        .user-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            border-bottom: 1.5px solid #1f4e99;
            margin-bottom: 10px;

            .user-name {
                font-size: 15px;
                color: white;
            }

            .user-icon {
                border-radius: 50%;
                height: 25px;
                width: 25px;
                background-position: center;
                background-size: cover;
            }
        }

        .logout-section {

            display: flex;
            justify-content: center;
            margin-top: 30px;

            button {
                background-color: #1F4E99;
                padding: 10px 20px;
                border-radius: 5px;
                color: white;
                font-size: 14px;

            }
        }


    }
}



@media (min-width:769px) and (max-width: 1024px) {
    .container {
        width: 10%;
        transition: width 0.3s ease-in-out;
        display: block;
        background-color: #1B222A;

        /* Inicialmente oculta el menú */
        .aside-top {
            .menu-icon {
                display: block;
                font-size: 50px;
                color: white;
            }

            .return-icon {
                display: none;
            }

            img {
                display: none;
            }
        }

        .aside-bottom {
            display: none;
        }

    }

    .container.open {
        width: 30%;
        transition: width 0.3s ease-in-out;
        display: block;
        position: fixed;
        z-index: 1000;

        /* Muestra el menú cuando está abierto */
        .aside-top {
            .menu-icon {
                display: none;
            }

            img {
                display: none;
            }

            .return-icon {
                display: block;
                font-size: 50px;
                color: white;
            }
        }

        .aside-bottom {
            display: block;
        }
    }



}

@media (max-width: 768px) {

    .container {
        width: 10%;
        transition: width 0.3s ease-in-out;
        display: block;
        background-color: #1B222A;

        /* Inicialmente oculta el menú */
        .aside-top {
            .menu-icon {
                display: block;
                font-size: 50px;
                color: white;
            }

            .return-icon {
                display: none;
            }

            img {
                display: none;
            }
        }

        .aside-bottom {
            display: none;
        }

    }

    .container.open {
        width: 50%;
        transition: width 0.3s ease-in-out;
        display: block;
        position: fixed;
        z-index: 1000;

        /* Muestra el menú cuando está abierto */
        .aside-top {
            .menu-icon {
                display: none;
            }

            img {
                display: none;
            }

            .return-icon {
                display: block;
                font-size: 50px;
                color: white;
            }
        }

        .aside-bottom {
            display: block;
        }
    }

}