.btn-send-form,
.btn-delete {
    background-color: #3995F8;
    color: white;
    font-size: 15px;
    font-weight: 400;
    border-style: none;
    border-radius: 5px;
    height: 35px;
    width: 200px;
    margin-top: 20px;
    cursor: pointer;
}